* {
    margin: 0px auto;
    padding: 0px auto;
}

tr {
    margin: 10px;
    padding: 10px;
}

th, tr, td {
    margin: 0px;
    padding: 100px;
    border: solid 13px purple;
    border-radius: 20px;
    font-size: 28px;
}

#b {
    margin-left: 345px;
    margin-right: 345px;
    border: solid 13px purple;
    border-radius: 20px;
}

button {
    color: rebeccapurple;
    background-color: white;
    border-radius: 20px;
    

}